$font-sans: 'Open Sans', sans-serif;
$font-awesome: 'FontAwesome';

$browser-context: 16;

$font-size: 14;
$font-size-sm: 12;

$sm-sidebar: rem(272);
$sm-scrollbar: rem(5);
$sm-avatar: rem(29);
$sm-top: 3.5em;
