
.botbar {
   position: fixed;
   left: $sm-sidebar;
   bottom: 0;
   width: 100%;
   padding: 15px;

   @include media-breakpoint-down("lg") {
      position: relative;
      left: 0;
      padding: 15px 0;
   }
}
