.body {
   overflow-x: hidden;
   font-family: $font-sans;

   background-color: map-get($theme, body-bg);
   /*color: map-get($theme, body-color);*/
}

.content {
   margin-top: $sm-top;
   min-width: 100vw;
   @include media-breakpoint-up("md") {
      min-width: 0;
      width: 100%;
   }
   background-color: map-get($theme, content-bg);
}

.content-box {
   padding: rem(20);
   @include font-size($font-size);
   @include border-radius($border-radius);
}
